!!!
%html
  %head
    %title StereoSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav
      %ul
        %li= link_to("new song", "#")
        %li= link_to("Add timeline", "#")
        %li= link_to("Play", "#")
        %li= link_to("record", "#")
        %li= link_to("Rewind", "#")
    = yield