!!!
%html
  %head
    %title StereoSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav
      %div#logo Logo
      %ul
        %li= link_to("new song", "", :target => '_blank')
        %li#add-timeline
          Add TL
        %li#play
          = image_tag('icon-03.svg', :class => 'svg-icon')
        %li#record
          = image_tag('icon-01.svg', :class => 'svg-icon')
        %li#rewind
          = image_tag('icon-07.svg', :class => 'svg-icon')
        %li#hide
          = image_tag('icon-08.svg', :class => 'svg-icon')
    = yield