!!!
%html
  %head
    %title StereoSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav
      %div#logo
        = image_tag('icon-09.svg')
      %ul
        %li.controls
          = link_to "", :target => '_blank' do
            = image_tag('icon-04.svg')
        %li#add-timeline.controls
          = image_tag('icon-08.svg')
        %li#play.controls
          = image_tag('icon-03.svg', :class => 'svg-icon')
        %li#record.controls
          = image_tag('icon-01.svg', :class => 'svg-icon')
        %li#rewind.controls
          = image_tag('icon-07.svg', :class => 'svg-icon')
        %li#hide-timelines.controls
          = image_tag('icon-10.svg', :class => 'svg-icon')
    = yield